<h1 style="color:red;">Hello this is the aboutpage !</h1>

<%=link_to 'Home', root_path %>

<!DOCTYPE html>
<html>
<head>
	<title>ABOUT</title>
	<style type="text/css">
		h1 {
			color: red;
			text-align: center;
			text-decoration: underline;
			text-decoration-color: green;
		}
       
	</style>
</head>
<body>
      <h1>ALL ABOUT IT !</h1>


</body>
</html>