<h1 >This is the homepage !</h1>

<%=link_to 'About', about_path %>

<!DOCTYPE html>
<html>
<head>
	<title>ALPHA BLOG</title>
 	
 <style type="text/css">
		h1 {
			color: green;
			text-align: center;
			text-decoration:underline;
			text-decoration-color: red;
		}
	</style> 
</head>
<body>
      <h1>PROJECTS</h1>
      
       <h2> WHAT you are supposed to do</h2>
       
        <p>LOREM ipsum blah blah blah ... . njlHENUXUWQLDJIMZXWKJF I Inipasahcniavi inaivipivnviuifvupavmiufiuiumgiuviuvmiajmiviubimfuviuifmbifumbum .</p>
     <!--   <img src="dc.jpg"> -->
       

</body>
</html>